@import "normalize.scss";
@import "header.scss";
@import "menu.scss";
@import "footer.scss";

.yoga-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.yoga-image {
  position: absolute;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  &__main {
    background-image: url(/images/main-image.png);
    top: 0;
    right: 0;
    width: 60%;
    background-position: top right;
    @media screen and (max-width: 1440px) {
    }
    @media screen and (max-width: 1024px) {
    }
    @media screen and (max-width: 960px) {
    }
    @media screen and (max-width: 768px) {
    }
    @media screen and (max-width: 480px) {
    }
  }
  &__girl {
    background-image: url(/images/yoga-girl.png);
    left: 0;
    width: 35%;
    background-position: center left;
    @media screen and (max-width: 1440px) {
    }
    @media screen and (max-width: 1024px) {
    }
    @media screen and (max-width: 960px) {
    }
    @media screen and (max-width: 768px) {
    }
    @media screen and (max-width: 480px) {
    }
  }
  &__man {
    background-image: url(/images/yoga-man.png);
    right: 0;
    bottom: 0;
    width: 54%;
    background-position: bottom right;
    @media screen and (max-width: 1440px) {
    }
    @media screen and (max-width: 1024px) {
    }
    @media screen and (max-width: 960px) {
    }
    @media screen and (max-width: 768px) {
    }
    @media screen and (max-width: 480px) {
    }
  }
}

.circule {
  width: 48px;
  height: 48px;
  background: rgba(230, 149, 233, 0.69);
  border-radius: 25px;
  position: relative;
  padding-top: 1px;
}
.p-logo {
  text-align: right;
  line-height: 0px;
  font-size: 18px;
  text-transform: uppercase;
  color: #515151;
}
header {
  display: flex;
  justify-content: space-between;
}

.part {
  display: flex;
  align-items: center;

  &-1 {
    justify-content: space-between;
    width: 50%;
  }
  &-2 {
  }
}

.menu {
  width: 80%;
  ul {
    display: flex;
    justify-content: space-between;
    li {
      text-transform: uppercase;
      font-size: 18px;
      line-height: 22px;
      color: #515151;
    }
  }
}

.button {
  padding: 15px 40px;
  background: linear-gradient(0deg, #5933af -38.24%, #e695e9 161.76%);
  border-radius: 40px;
  .p-button {
    font-size: 18px;
    line-height: 3px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    margin: 0;
  }
}

.top-area {
  height: 80vh;
  display: flex;
  align-items: center;
  @media screen and (max-width: 1440px) {
    height: 70vh;
  }
}

.pink-button {
  width: 258px;
  height: 48px;
  background: linear-gradient(360deg, #e695e9 -18.75%, #f3b3a1 143.75%);
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #000000;
  }
}
.about-us {
  display: flex;
  justify-content: flex-end;
}
.body {
  width: 50%;
  margin-top: 300px;
  @media screen and (max-width: 1440px) {
    margin-top: 180px;
  }
}

.form-left {
  background: #ffffff;
  border-radius: 20px;
  width: 35%;
  padding: 40px 50px 80px;
  text-align: center;
  margin-top: 400px;
  filter: drop-shadow(5px 4px 4px rgba(0, 0, 0, 0.15));
  @media screen and (max-width: 1440px) {
    margin-top: 200px;
  }
  .pink-button {
    width: 100%;
    margin-top: 100px;
  }
}

input {
  border: 1px solid rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  margin: 15px 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.07em;
  color: #737070;
  padding: 10px;
}

label {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #000000;
}
