@import "normalize.scss";
@import "header.scss";
@import "menu.scss";
@import "footer.scss";

.container {
  margin: 0 auto;
  padding: 15px;
  max-width: 1230px;
  position: relative;
  // overflow: hidden;
}

.container-menu {
  margin-top: 15px;
}

.container-lg {
  width: 100%;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #515151;
  white-space: nowrap;
}

h1 {
  font-size: 72px;
  text-transform: uppercase;
  color: #000000;
  font-weight: normal;
  margin: 0;

  @media screen and (max-width: 768px) {
    font-size: 40px;
  }
}

h6 {
  font-weight: normal;
  font-size: 24px;
  line-height: 27px;
  text-transform: uppercase;
  color: #000000;

  @media screen and (max-width: 768px) {
    margin-top: 0;
    font-size: 18px;
  }
}

.yoga-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.yoga-image {
  position: absolute;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;

  &__main {
    background-image: url(../images/main-image.png);
    top: 0;
    right: 0;
    width: 60%;
    background-position: top right;

    @media screen and (max-width: 480px) {
      background-image: url(../images/main-image-mob.png);
      width: 100%;
    }
  }

  &__girl {
    background-image: url(../images/yoga-girl.png);
    left: 0;
    width: 35%;
    background-position: center left;

    @media screen and (max-width: 480px) {
      background-image: url(/../images/yoga-girl-mob.png);
      width: 100%;
    }
  }

  &__man {
    background-image: url(../images/yoga-man.png);
    right: 0;
    bottom: 0;
    width: 54%;
    background-position: bottom right;

    @media screen and (max-width: 480px) {
      background-image: url(../images/yoga-man-mob.png);
      width: 100%;
    }
  }
}

.logo {
  margin-right: 10px;
}

.logo-link {
  display: block;
  width: 100%;
  height: 100%;
  z-index: 10;
  position: absolute;
  top: 0;
}

.circule {
  width: 48px;
  height: 48px;
  background: rgba(230, 149, 233, 0.69);
  border-radius: 25px;
  position: relative;
  padding-top: 1px;
}

.p-logo {
  text-align: right;
  line-height: 0px;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #515151;
}

header {
  display: flex;
  justify-content: space-between;
}

.part {
  display: flex;
  align-items: center;

  &-1 {
    justify-content: space-between;
    width: 50%;
  }

  &-2 {
    width: 25%;
    @media screen and (max-width: 470px) {
      display: none;
    }
  }
}

.menu {
  width: 80%;

  ul {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 470px) {
      display: none;
    }

    li {
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 400;
      line-height: 22px;
      color: #515151;

      @media screen and (max-width: 768px) {
        font-size: 12px;
      }
    }
  }
}

.button {
  padding: 15px 40px;
  background: linear-gradient(0deg, #5933af -38.24%, #e695e9 161.76%);
  border-radius: 40px;
  font-size: 18px;
  line-height: 3px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  margin: 0;

  @media screen and (max-width: 768px) {
    padding: 15px;
    font-size: 14px;
  }
}

.top-area {
  height: 80vh;
  display: flex;
  align-items: center;

  @media screen and (max-width: 1440px) {
    height: 50vh;
  }

  @media screen and (max-width: 768px) {
    height: 50vh;
    position: relative;
    display: block;
  }

  @media screen and (max-width: 480px) {
    height: 90vh;
  }
}

.pink-button {
  padding: 14px 70px;
  background: linear-gradient(360deg, #e695e9 -18.75%, #f3b3a1 143.75%);
  border-radius: 40px;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;

  @media screen and (max-width: 960px) {
    padding: 14px 50px;
  }

  @media screen and (max-width: 768px) {
    padding: 15px;
    position: absolute;
    bottom: 80px;
    text-align: center;
  }

  @media screen and (max-width: 480px) {
    width: 100%;
  }
}

.about-us {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 300px;

  @media screen and (max-width: 1024px) {
    margin-bottom: 0;
  }

  @media screen and (max-width: 467px) {
    height: 100vh;
  }
}

.body {
  width: 50%;
  margin-top: 300px;

  @media screen and (max-width: 1440px) {
    margin-top: 180px;
  }

  @media screen and (max-width: 1024px) {
    margin-top: 0;
  }

  @media screen and (max-width: 768px) {
    width: 70%;

    p {
      font-size: 16px;
    }
  }

  @media screen and (max-width: 480px) {
    width: 100%;
  }

  p {
    font-size: 18px;
    line-height: 19px;
    letter-spacing: 0.07em;
    color: #000000;
  }
}

.form {
  @media screen and (max-width: 768px) {
    height: 100vh;
    padding-top: 100px;
  }
}

.form-left {
  background: #ffffff;
  border-radius: 20px;
  width: 35%;
  padding: 40px 50px 80px;
  text-align: center;
  margin-top: 400px;
  filter: drop-shadow(5px 4px 4px rgba(0, 0, 0, 0.15));

  @media screen and (max-width: 1440px) {
    margin-top: 200px;
  }

  @media screen and (max-width: 1200px) {
    width: 40%;
  }

  @media screen and (max-width: 1024px) {
    width: 55%;
    margin-top: 30px;
  }

  @media screen and (max-width: 768px) {
    width: 100%;
    padding: 30px 15px 40px;
  }

  .pink-button {
    position: static;
  }
}

input {
  border: 1px solid rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  margin: 15px 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.07em;
  color: #737070;
  padding: 10px;

  @media screen and (max-width: 1024px) {
    font-size: 14px;
  }

  @media screen and (max-width: 467px) {
    padding: 5px;
  }
}

label {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #000000;
}
