body {
  margin: 0;
  padding: 0;
  position: relative;
  font-size: 23px;
  font-family: "Montserrat", sans-serif;
  background-color: #f4f1f1;
  min-height: 100vh;
  width: 100%;
  padding-bottom: 60px;
}

* {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  padding: 15px;
  max-width: 1230px;
  position: relative;
  // overflow: hidden;
}

.container-menu {
  margin-top: 15px;
}

.container-lg {
  width: 100%;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 72px;
  text-transform: uppercase;
  color: #000000;
  font-weight: normal;
  margin: 0;
}

h6 {
  font-weight: normal;
  font-size: 24px;
  line-height: 27px;
  text-transform: uppercase;
  color: #000000;
}
