body {
  margin: 0;
  padding: 0;
  position: relative;
  font-size: 23px;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  background-color: #f4f1f1;
  min-height: 100vh;
  width: 100%;
  padding-bottom: 60px;
}

* {
  box-sizing: border-box;
}
